{% load core_tags %}

<h4>Filters</h4>
{{ apps_filters.active_filter }}
<ul class="nav nav-sidebar">
    <li>
        <a href="{% url 'mails:list' %}" class="{% active request '^/mails/$' %}">
            <span class="icon">
                <i class="fa fa-inbox"></i>
            </span>
            <span class="name">
                All messages
            </span>
            <span class="pull-right">
                <span class="badge">
                    {{ apps_mails.total }}
                </span>

            </span>
        </a>
    </li>
</ul>

<h4>Global filters</h4>
{% if apps_filters.global_filters %}
    <ul class="nav nav-sidebar">
        {% for filter in apps_filters.global_filters %}
            {% include 'core/parts/filter-row.html' with filter=filter %}
        {% endfor %}
    </ul>
{% elif user.is_superuser %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                <i class="fa fa-lightbulb-o"></i>
                No global filters!
            </h4>
        </div>
        <div class="panel-body">
            <p>
                Create global filters for your team!
            </p>
            <a href="{% url 'filters:new' %}" class="btn btn-primary btn-sm">
                Create filters
            </a>
        </div>
    </div>
{% else %}
    <br>
    <p>
        There are no global filters.
    </p>
{% endif %}




{% if request.user.is_authenticated %}
<h4>Personal Filters</h4>
{% endif %}
{% if apps_filters.user_filters and request.user.is_authenticated %}
    <ul class="nav nav-sidebar">
        {% for filter in apps_filters.user_filters %}
            {% include 'core/parts/filter-row.html' with filter=filter %}
        {% endfor %}
    </ul>
{% elif request.user.is_authenticated %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                <i class="fa fa-lightbulb-o"></i>
                No personal filters!
            </h4>
        </div>
        <div class="panel-body">
            <p>
                Create your own personal filters now to get an organised workspace.
            </p>
            <a href="{% url 'filters:new' %}" class="btn btn-primary btn-sm">
                Create filters
            </a>
        </div>
    </div>
{% endif %}

{% block sidebar_bottom %}{% endblock %}

{% if actionbar %}
    <div class="visible-xl-block">
        <h4>Actions</h4>

        <div class="panel panel-default">
            <div class="panel-body">
                <p class="text-bold">
                    <span class="action-selection-count">0</span> items selected
                </p>

                <hr>

                <div class="row action-buttons">
                    <div class="col-xs-4">
                        <button type="button" disabled="disabled" class="btn btn-sm btn-block btn-danger"
                                data-action="remove" data-enabled="{% if user.is_authenticated %}1{% else %}0{% endif %}"
                                title="{% if not user.is_authenticated %}You are not allowed to remove entries{% endif %}">
                            <i class="fa fa-times"></i>
                            Remove
                        </button>
                    </div>
                    {% if forwarding.enabled %}
                    <div class="col-xs-4">
                        <button type="button" disabled="disabled" class="btn btn-sm btn-block btn-warning"
                                data-action="forward" data-enabled="{% if user.is_authenticated and user.email %}1{% else %}0{% endif %}"
                                title="{% if not user.is_authenticated %}Not logged in!{% elif not user.email %}No known e-mail address for you{% else %}{% endif %}">
                            <i class="fa fa-mail-forward"></i>
                            Forward
                        </button>
                    </div>
                    {% endif %}
                    <div class="col-xs-4">
                        <button type="button" disabled="disabled" class="btn btn-sm btn-block btn-info"
                                data-action="download" data-enabled="1"
                                title="">
                            <i class="fa fa-download"></i>
                            Download
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}
