<h4>Filters</h4>

<ul class="nav nav-sidebar">
    <li>
        <a href="{% url 'mails:list' %}">
            <span class="icon">
                <i class="fa fa-inbox"></i>
            </span>
            <span class="name">
                All messages
            </span>
            <span class="pull-right">
                <span class="badge">
                    {{ mails.total }}
                </span>

            </span>
        </a>
    </li>
</ul>

<h4>Global filters</h4>
{% if apps_filters.global_filters %}
    <ul class="nav nav-sidebar">
        {% for filter in apps_filters.global_filters %}
            <li>
                <a href="/mails/{{ filter.id }}">
                    {{ filter.alias }}
                    <span class="pull-right">
                                <span class="badge">
                                    {{ filter.mails }}
                                </span>
                                <i class="fa fa-server"></i>
                            </span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% elif user.is_superuser %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                <i class="fa fa-lightbulb-o"></i>
                No global filters!
            </h4>
        </div>
        <div class="panel-body">
            <p>
                Create global filters for your team!
            </p>
            <a href="{% url 'filters:new' %}" class="btn btn-primary btn-sm">
                Create filters
            </a>
        </div>
    </div>
{% else %}
    <br>
    <p>
        There are no global filters.
    </p>
{% endif %}




{% if request.user.is_authenticated %}
<h4>Personal Filters</h4>
{% endif %}
{% if apps_filters.user_filters and request.user.is_authenticated %}
    <ul class="nav nav-sidebar">
        {% for filter in apps_filters.user_filters %}
            <li>
                <a href="/mails/{{ filter.id }}">
                    {{ filter.alias }}
                    <span class="pull-right">
                                <span class="badge">
                                    {{ filter.mails }}
                                </span>
                                <i class="fa fa-server"></i>
                            </span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% elif request.user.is_authenticated %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                <i class="fa fa-lightbulb-o"></i>
                No personal filters!
            </h4>
        </div>
        <div class="panel-body">
            <p>
                Create your own personal filters now to get an organised workspace.
            </p>
            <a href="{% url 'filters:new' %}" class="btn btn-primary btn-sm">
                Create filters
            </a>
        </div>
    </div>
{% endif %}
