[run]
source = src
branch = True
parallel = True

omit =
    src/config/*.py
    src/config/*/*.py
    src/manage.py
    src/wsgi.py
    src/apps/*/migrations/*
    src/apps/*/context.py
    src/apps/*/urls.py
    src/apps/*/admin.py
    src/test/*
    src/test/*/*.py
    env/*
    docs/*


[report]
exclude_lines =
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __unicode__
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

show_missing = True
