
# Vendor files.
bootstrap.css linguist-vendored
bootstrap-social.css linguist-vendored
font-awesome.css linguist-vendored
select2.css linguist-vendored
select2-bootstrap.css linguist-vendored
bootbox.js linguist-vendored
bootstrap.js linguist-vendored
cookie.js linguist-vendored
jquery.js linguist-vendored
select2.js linguist-vendored
