{% extends 'base.html' %}
{% load compress %}
{% load staticfiles %}
{% load core_tags %}

{% block content %}
    <div class="page-header">
        <img src="{{ avatar }}" class="img-responsive pull-left" />
        <h2>&nbsp;&nbsp;{{ user.get_full_name }}</h2>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h4>User Details</h4>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td class="text-muted">
                        Access
                    </td>
                    <td>
                        {% if user.is_superuser %}
                            <i class="fa fa-bolt"></i> Super User
                        {% elif user.is_staff %}
                            <i class="fa fa-users"></i> Staff User
                        {% else %}
                            <i class="fa fa-user"></i> User
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td class="text-muted">
                        Email Address
                    </td>
                    <td>
                        <i class="fa fa-envelope"></i>&nbsp;
                        {% if user.email %}
                            {{ user.email }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td class="text-muted">
                        Date joined
                    </td>
                    <td>
                        <i class="fa fa-calendar"></i>&nbsp;
                        {{ user.date_joined }}
                    </td>
                </tr>

                <tr>
                    <td class="text-muted">
                        Username
                    </td>
                    <td>
                        <i class="fa fa-id-card"></i>&nbsp;
                        {{ user.username }}
                    </td>
                </tr>

                <tr>
                    <td class="text-muted">
                        API Token
                    </td>
                    <td>
                        <i class="fa fa-key"></i>&nbsp;
                        {% if token %}
                            {{ token }}
                        {% else %}
                            <span class="text-muted">
                                Ask admin to enable API tokens for all users!
                            </span>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-6">
            <h4>Authenticated Services</h4>

            {% if not social_accounts %}
                <span class="text-muted">
                    No known associations!
                </span>
            {% endif %}
            <ul class="list-group">
                {% for account in social_accounts %}
                <li class="list-group-item">
                    {% if account.infos and account.infos.icon %}
                        <i class="{{ account.infos.icon }}"></i>&nbsp;&nbsp;
                    {% else %}
                        <i class="fa fa-link"></i>&nbsp;&nbsp;
                    {% endif %}

                    {% if account.infos and account.infos.text %}
                        {{ account.infos.name }}
                    {% else %}
                        {{ account.provider }}
                    {% endif %}

                    <a href="{% url 'social:disconnect_individual' account.provider account.id %}"
                       class="btn btn-xs btn-danger pull-right">
                        <i class="fa fa-link"></i>
                        Disconnect
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="button-set">
        <a href="{% url 'accounts:details' %}" class="btn btn-primary">
            <i class="fa fa-pencil"></i>
            Edit profile
        </a>&nbsp;&nbsp;
        <a href="{% url 'accounts:details' %}" class="btn btn-primary">
            <i class="fa fa-key"></i>
            Change password
        </a>
    </div>

{% endblock %}
