<div class="row">
    <div class="col-sm-6">
        <h4>Attributes</h4>

        <div class="row">
            <div class="col-xs-6 text-bold">
                Received from
            </div>
            <div class="col-xs-6">
                <span class="field peer"></span>:<span class="field port"></span>
            </div>


            <div class="col-xs-6 text-bold">
                Recipients To
            </div>
            <div class="col-xs-6">
                <span class="field recipients_to_custom"></span>
                &nbsp;
            </div>

            <div class="col-xs-6 text-bold">
                Recipients Cc
            </div>
            <div class="col-xs-6">
                <span class="field recipients_cc_custom"></span>
                &nbsp;
            </div>

            <div class="col-xs-6 text-bold">
                Recipients Bcc
            </div>
            <div class="col-xs-6">
                <span class="field recipients_bcc_custom"></span>
                &nbsp;
            </div>


            <div class="col-xs-6 text-bold">
                Subject
            </div>
            <div class="col-xs-6">
                <span class="field subject"></span>
                &nbsp;
            </div>

        </div>

    </div>

    <div class="col-sm-6">
        <h4>Headers</h4>

        <div class="headers-box">
            <pre class="field headers_custom"></pre>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-xs-6">
        <h4>Parts</h4>

        <div class="list-group list-group parts">

        </div>
    </div>

    <div class="col-xs-6">
        <h4>Attachments</h4>

        <div class="list-group list-group attachments">

        </div>
    </div>
</div>
