{% load staticfiles %}
{% load cache %}
{% load core_tags %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Email Lurker</title>

    <meta name="description" content="Email Lurker">
    <meta name="author" content="Tom Valk">

    <link rel="shortcut icon" href="{% static 'image/logo/logo.png' %}">

    {% block css_pre %}{% endblock %}

    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% endcompress %}

    {% block css_post %}{% endblock %}
</head>
<body>
{% block body %}

<!-- Header & Navbar -->
{% block body_navbar %}
{% include 'core/navbar.html' %}
{% endblock %}

<!-- Body -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!-- Left sidebar -->
            <h4>Filters</h4>

            <ul class="nav nav-sidebar">
                <li>
                    <a href="{% url 'mails:list' %}">
                        All messages
                        <span class="pull-right">
                            <span class="badge">
                                {{ mails.total }}
                            </span>
                            <i class="fa fa-inbox"></i>
                        </span>
                    </a>
                </li>
            </ul>

            {% if filters.global_filters %}
                <ul class="nav nav-sidebar">
                    {% for filter in filters.global_filters %}
                        <li>
                            <a href="/mails/{{ filter.id }}">
                                {{ filter.alias }}
                                <span class="pull-right">
                                <span class="badge">
                                    {{ filter.mails }}
                                </span>
                                <i class="fa fa-server"></i>
                            </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if filters.global_filters %}
                <ul class="nav nav-sidebar">
                    {% for filter in filters.user_filters %}
                        <li>
                            <a href="/mails/{{ filter.id }}">
                                {{ filter.alias }}
                                <span class="pull-right">
                                <span class="badge">
                                    {{ filter.mails }}
                                </span>
                                <i class="fa fa-server"></i>
                            </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <br>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <i class="fa fa-lightbulb-o"></i>
                            No personal filters!
                        </h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            Create your own personal filters now to get an organised workspace.
                        </p>
                        <a href="#" class="btn btn-primary btn-sm">
                            Create filters
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="col-md-9">
            <!-- Content -->
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}

{% block body_js_pre %}{% endblock %}
{% compress js %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
{% endcompress %}
{% block body_js_post %}{% endblock %}

{% block end_body %}{% endblock %}
</body>
</html>
