{% extends 'base.html' %}
{% load compress %}
{% load staticfiles %}
{% load core_tags %}

{% block content %}
    <table class="table table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>
                <input type="checkbox" class="table-check-all table-checkbox">
            </th>
            <th class="sortable">
                <a href="?sort=from&order={% if sort == 'from' and order == 'asc' %}desc{% else %}asc{% endif %}">
                    From
                    {% if sort == 'from' and order == 'asc' %}
                        <i class="fa fa-sort-asc"></i>
                    {% elif sort == 'from' %}
                        <i class="fa fa-sort-desc"></i>
                    {% endif %}
                </a>
            </th>
            <th class="sortable">
                <a href="?sort=to&order={% if sort == 'to' and order == 'asc' %}desc{% else %}asc{% endif %}">
                    To
                    {% if sort == 'to' and order == 'asc' %}
                        <i class="fa fa-sort-asc"></i>
                    {% elif sort == 'to' %}
                        <i class="fa fa-sort-desc"></i>
                    {% endif %}
                </a>
            </th>
            <th class="sortable">
                <a href="?sort=subject&order={% if sort == 'subject' and order == 'asc' %}desc{% else %}asc{% endif %}">
                    Subject
                    {% if sort == 'subject' and order == 'asc' %}
                        <i class="fa fa-sort-asc"></i>
                    {% elif sort == 'subject' %}
                        <i class="fa fa-sort-desc"></i>
                    {% endif %}
                </a>
            </th>
            <th class="sortable">
                <a href="?sort=received&order={% if sort == 'received' and order == 'asc' %}desc{% else %}asc{% endif %}">
                    Received
                    {% if sort == 'received' and order == 'asc' %}
                        <i class="fa fa-sort-asc"></i>
                    {% elif sort == 'received' %}
                        <i class="fa fa-sort-desc"></i>
                    {% endif %}
                </a>
            </th>
            <th class="">
                Parts
            </th>
            <th class="sortable">
                <a href="?sort=size&order={% if sort == 'size' and order == 'asc' %}desc{% else %}asc{% endif %}">
                    Size
                    {% if sort == 'size' and order == 'asc' %}
                        <i class="fa fa-sort-asc"></i>
                    {% elif sort == 'size' %}
                        <i class="fa fa-sort-desc"></i>
                    {% endif %}
                </a>
            </th>
        </tr>
        </thead>
        <tbody class="list-pool">
            {% for mail in list %}
                <tr data-message-id="{{ mail.pk }}">
                    <td style="width: 20px">
                        <input type="checkbox" class="table-checkbox table-body-checkbox" value="{{ mail.pk }}">
                    </td>
                    <td class="table-body-detail-action">
                        {{ mail.sender_name }} ({{ mail.sender_address }})
                    </td>
                    <td title="{{ mail.recipients_to|format_addresses }}" class="table-body-detail-action">
                        {{ mail.recipients_to|format_addresses|cut_small }}
                    </td>
                    <td class="table-body-detail-action">
                        {{ mail.subject }}
                    </td>
                    <td class="table-body-detail-action">
                        {{ mail.created_at }}
                    </td>
                    <td class="table-body-detail-action">
                        {{ mail.num_real_parts }}
                        {% if mail.has_attachments %}
                            &nbsp;<i class="fa fa-paperclip"></i>
                        {% endif %}
                    </td>
                    <td class="table-body-detail-action">
                        {{ mail.size|filesizeformat }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6">
            <nav aria-label="pagination">
                <ul class="pagination">
                    <li class="{% if not pagination.prev %}disabled{% endif %}">
                        <a href="?page={{ pagination.prev_page }}&sort={{ sort }}&order={{ order }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    {% for page in pagination.display %}
                        <li class="{% if pagination.page == page %}active{% endif %}">
                            <a href="?page={{ page }}&sort={{ sort }}&order={{ order }}">
                                {{ page }}{% if pagination.page == page %} <span class="sr-only">(current)</span>{% endif %}
                            </a>
                        </li>
                    {% endfor %}

                    <li class="{% if not pagination.next %}disabled{% endif %}">
                        <a href="?page={{ pagination.next_page }}&sort={{ sort }}&order={{ order }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-md-6 text-right">
            Total rows: {{ pagination.rows }}
        </div>
    </div>
{% endblock %}


{% block body_js_post %}
    {{ block.super }}

    <script type="text/html" charset="utf-8" id="message-modal-template">
        {% include 'mails/parts/modal-template.html' %}
    </script>
    <script type="text/html" charset="utf-8" id="message-modal-list-link-template">
        {% include 'mails/parts/modal-list-link-template.html' %}
    </script>
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/mails.js' %}"></script>
    {% endcompress %}
{% endblock %}
